body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    border-bottom: 2px solid #ccc;
}

/* Botones de pestaña */
button {
    padding: 10px 20px;
    cursor: pointer;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: background 0.3s;
}

button:hover {
    background: #ddd;
}

button.active {
    background: white;
    border-bottom: 2px solid white;
    font-weight: bold;
}

/* Contenido */
section {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

section.active {
    display: block;
}